@charset "UTF-8";
/* ╨г╨║╨░╨╖╤Л╨▓╨░╨╡╨╝ box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* ╨г╨▒╨╕╤А╨░╨╡╨╝ ╨▓╨╜╤Г╤В╤А╨╡╨╜╨╜╨╕╨╡ ╨╛╤В╤Б╤В╤Г╨┐╤Л */
ul[class],
ol[class] {
  padding: 0; }

/* ╨г╨▒╨╕╤А╨░╨╡╨╝ ╨▓╨╜╨╡╤И╨╜╨╕╨╡ ╨╛╤В╤Б╤В╤Г╨┐╤Л */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* ╨Т╤Л╤Б╤В╨░╨▓╨╗╤П╨╡╨╝ ╨╛╤Б╨╜╨╛╨▓╨╜╤Л╨╡ ╨╜╨░╤Б╤В╤А╨╛╨╣╨║╨╕ ╨┐╨╛-╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О ╨┤╨╗╤П body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* ╨г╨┤╨░╨╗╤П╨╡╨╝ ╤Б╤В╨░╨╜╨┤╨░╤А╤В╨╜╤Г╤О ╤Б╤В╨╕╨╗╨╕╨╖╨░╤Ж╨╕╤О ╨┤╨╗╤П ╨▓╤Б╨╡╤Е ul ╨╕ il, ╤Г ╨║╨╛╤В╨╛╤А╤Л╤Е ╨╡╤Б╤В╤М ╨░╤В╤А╨╕╨▒╤Г╤В class*/
ul[class],
ol[class] {
  list-style: none; }

/* ╨н╨╗╨╡╨╝╨╡╨╜╤В╤Л a, ╤Г ╨║╨╛╤В╨╛╤А╤Л╤Е ╨╜╨╡╤В ╨║╨╗╨░╤Б╤Б╨░, ╤Б╨▒╤А╨░╤Б╤Л╨▓╨░╨╡╨╝ ╨┤╨╛ ╨┤╨╡╤Д╨╛╨╗╤В╨╜╤Л╤Е ╤Б╤В╨╕╨╗╨╡╨╣ */
a:not([class]) {
  text-decoration-skip-ink: auto; }

a {
  text-decoration: none;
  color: black; }

/* ╨г╨┐╤А╨╛╤Й╨░╨╡╨╝ ╤А╨░╨▒╨╛╤В╤Г ╤Б ╨╕╨╖╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П╨╝╨╕ */
img {
  max-width: 100%;
  display: block; }

/* ╨г╨║╨░╨╖╤Л╨▓╨░╨╡╨╝ ╨┐╨╛╨╜╤П╤В╨╜╤Г╤О ╨┐╨╡╤А╨╕╨╛╨┤╨╕╤З╨╜╨╛╤Б╤В╤М ╨▓ ╨┐╨╛╤В╨╛╨║╨╡ ╨┤╨░╨╜╨╜╤Л╤Е ╤Г article*/
article > * + * {
  margin-top: 1em; }

/* ╨Э╨░╤Б╨╗╨╡╨┤╤Г╨╡╨╝ ╤И╤А╨╕╤Д╤В╤Л ╨┤╨╗╤П ╨╕╨╜╨┐╤Г╤В╨╛╨▓ ╨╕ ╨║╨╜╨╛╨┐╨╛╨║ */
input,
button,
textarea,
select {
  font: inherit; }

button {
  background: transparent;
  border: none;
  padding: 0; }

/* ╨г╨┤╨░╨╗╤П╨╡╨╝ ╨▓╤Б╨╡ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕ ╨╕ ╨┐╨╡╤А╨╡╤Е╨╛╨┤╤Л ╨┤╨╗╤П ╨╗╤О╨┤╨╡╨╣, ╨║╨╛╤В╨╛╤А╤Л╨╡ ╨┐╤А╨╡╨┤╨┐╨╛╤З╨╕╤В╨░╨╣ ╨╕╤Е ╨╜╨╡ ╨╕╤Б╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╤М */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
body {
  font-size: 18px;
  line-height: 22px;
  background: #f3f3f3; }

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
  font-family: "Roboto", sans-serif; }

.header {
  background-image: url(/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 26px 0 66px; }
  .header__top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px; }
  .header__logo {
    margin-right: 120px; }
  .header__nav {
    max-width: 400px;
    display: flex;
    justify-content: space-between; }
    .header__nav a {
      color: #fff;
      font-weight: 300; }
  .header__number {
    text-align: right;
    font-weight: 300; }
    .header__number a {
      color: #fff;
      font-size: 24px;
      line-height: 29px;
      font-weight: bold; }
  .header__bottom {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px; }

.content {
  margin-bottom: 80px; }
  .content__buttons {
    padding: 37px 0 37px; }
    .content__buttons span {
      font-weight: bold;
      margin-right: 50px; }
  .content__button {
    padding-right: 30px;
    margin-right: 50px;
    position: relative;
    cursor: pointer;
    font-weight: 300; }
    .content__button::after {
      content: url(./images/buttons-icon.png);
      position: absolute;
      width: 15px;
      height: 15px;
      top: 3px;
      right: 0; }
  .content__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 68px; }
  .content__show {
    display: block;
    margin: 0 auto;
    padding: 24px 129px;
    border: 1px solid #cacaca;
    border-radius: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer; }

.card {
  width: 380px;
  position: relative; }
  .card__inner {
    padding: 30px;
    background-color: #e5e5e5; }
  .card__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px; }
  .card__info {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-bottom: 20px;
    border-left: 4px solid #6ebbd3;
    padding-left: 15px; }
  .card__color {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px; }
  .card__age, .card__foots {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; }
    .card__age div, .card__foots div {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px; }
  .card__price {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px; }
  .card__button {
    width: 100%;
    text-align: center;
    padding: 20px 55px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 0 0 20px 20px;
    cursor: pointer; }
  .card .buy {
    background-color: #6ebbd3; }
  .card .saled {
    background-color: #1f2021; }

.sale {
  position: absolute;
  padding: 10px 19px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: #e52d2d;
  border-radius: 10px;
  top: 35px;
  left: 35px; }

.like {
  position: absolute;
  background-image: url(./images/like.png);
  background-repeat: no-repeat;
  width: 46px;
  height: 41px;
  top: 35px;
  right: 35px;
  opacity: 0.5;
  transition: all 0.3s;
  cursor: pointer; }
  .like:hover {
    opacity: 1; }

.liked {
  position: absolute;
  background-image: url(./images/like.png);
  background-repeat: no-repeat;
  width: 46px;
  height: 41px;
  top: 35px;
  right: 35px;
  cursor: pointer; }

.footer {
  background-color: #1F2021;
  color: #fff; }
  .footer__inner {
    padding: 85px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px; }
  .footer__text {
    font-weight: 300;
    font-size: 28px;
    max-width: 300px; }
  .footer__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .footer__input input {
      padding: 22px 33px;
      width: 300px;
      font-size: 14px;
      border-radius: 10px;
      margin-right: 15px;
      border: none; }
      .footer__input input::placeholder {
        color: #000; }
    .footer__input button {
      padding: 22px 75px;
      color: #fff;
      background-color: #6EBBD3;
      font-weight: bold;
      font-size: 14px;
      border-radius: 10px;
      cursor: pointer; }
  .footer__checkbox {
    font-weight: 300;
    font-size: 16px; }
    .footer__checkbox input {
      margin-right: 22px; }

/*# sourceMappingURL=style.css.map */
